/* fonts */

/* * {
  background-color: black;
} */

@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("assets/fonts/Gilroy-ExtraBold.otf");
}

#title {
  font-family: "Gilroy-ExtraBold";
}
.image {
  height: 70vh;
  border-radius: 2px;
}

.profil-container img {
  width: 60px;
  height: 60px;
  border-radius: 20px;
}

.description-part {
  padding-left: 20px;
}

.carousel-Indicator {
  background: none;
	border: none;
	padding: 0;
	cursor: pointer;
}

.perso-description {
  
}
.ml-auto {
  margin-right: 50px;
}
.nav-item {
  color: white !important;
}
.navbar-nav > li {
  padding-left: 30px;
  padding-right: 30px;
}
.flexContainerRow {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.title {
  font-family: "Gilroy-Bold";
  font-size: 65px;
}
.text {
  font-family: "Gilroy-Light";
  font-size: 30px;
}
.form {
  position: absolute;
  top: 60vh;
  left: 3vw;
}
.colForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  width: 90%;
}

.btn {
  margin-top: 20px;
  background-color: #a8dd49;
  color: white;
}
.padding30 {
  padding: 30px;
}



.profil-container button  {
 list-style: none;
 border: none;
 padding: 5px;
 outline: none;
}

.bgGreen {
  background: url(./assets/imgs/bgGreen.png);
  background-position: top;
  background-size: 100% 85%;
  background-repeat: no-repeat;
  position: relative;
}
.bgColorGreen {
  background-color: #a8dd49;
}

.bgColorBlack {
  /* background-color: #272727; */
  background: #944d1b;
}
.colorGreen {
  color: #a8dd49;
}
.textEcran2 {
  max-width: 500px;
}
.flexContainerCol {
  padding: 0 50px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.carousel-inner {
  width: 30%;
  
}

.carousel-inner img {
  border-radius: 20px;
  min-width: 30px;
  min-height: 30px;
}

.flexRow {
  min-height: 200px;
  padding: 20px 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-grow: 1;
  align-items: flex-end;
  padding-bottom: 20px;
  background-image: url(./assets/imgs/bgBrown.png);
  background-position: bottom;
  background-size: 100% 90%;
  background-repeat: no-repeat;
}

.gauche {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 0.5;
  padding: 0 100px;
}

.gauche p,
.droit p {
  margin: 0 10px;
}
.droit {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 100px;
}
.item {
  padding-left: 20px;
}
a,
.item {
  text-decoration: none;
  color: white !important;
}
.fa-instagram,
.fa-linkedin {
  color: white;
}

.tofooter {
  height: 50vh;
}

/* i {
  font-size: 24px;
} */
/*import font*/
@font-face {
  font-family: "Gilroy-Light";
  src: url("./assets/fonts/Gilroy-Light.otf");

  font-family: "Gilroy-Bold";
  src: url("./assets/fonts/Gilroy-ExtraBold.otf");
}

@media screen and (max-width: 640px) {
  .flexContainerRow {
    height: auto;
    flex-direction: column-reverse;
    align-items: baseline;
    margin-bottom: 200px;
    padding: 0 20px;
  }
  .image2 {
    width: 100%;
  }
  .gauche {
    display: none;
  }
  .form {
    position: static;
  }
  .image {
    height: auto;
    width: 100%;
  }
  .gauche,
  .droit {
    padding: 0;
  }
  .text {
    font-size: 20px;
  }
  .title {
    font-size: 30px;
  }
}

.error{
  color: red;
}

.reussir{
  color: green;
}
